body {
  margin: 20px; 
  padding: 20px; 
}

header {
  background-color: #25228E;
  align-items: center; 
  
}

footer {
  background-color: #25228E;
  height: 200px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.billede1 img {
  width: 100%;
  height: auto;
  display: block;
}

.logo {
  max-width: 100%;
  max-height: 65%;
  width: 100%; 
  height: 195px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hvilken {
  background-color: #5351C1; 
  color: white; 
  padding: 20px; 
  margin: 0; 
  min-height: 200px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
  font-size: large;



  
}
.hvilken p {
  max-width: 650px;
  margin: 0 auto;
}

.event-kalender {
  background-color: #25228E;
  padding: 20px;
  margin: 0;
  text-align: center;
  font-size: large;
}

.event-kalender h2 {
  color: white; 

}

.event-kalender img {
  width: 300px; 
  height: 250px; 
  margin: 30px;

}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 

}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}



.event-kalender {
  background-color: #25228E; 
  padding: 20px; 
  margin: 0; 
  min-height: 350px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
  font-size: large;
  
}
 
.derfor {
  background-color: #5351C1; 
  color: white; 
  padding: 20px; 
  margin: 0; 
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
  font-size: large;
  min-height: 200px;
  
}
.derfor p {
  max-width: 650px;
  margin: 0 auto;
}






.button {
  background-color: rgb(203, 219, 230);
  color: rgba(17, 16, 16, 0.898);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
  transition: backgrund-color 1s;
  color: 1s;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  font-size: bold;
  font-family: Arial, Helvetica, sans-serif;
  
}
.button:hover {
 background-color: blue;
 color: white;
 


}
.button:active {
  opacity: 0.5;
}


.line {
    position: absolute;
    bottom: 525px;
    left: 0;
    width: 94.5vw;
    height: 2px;
    background-color: black;
    border: none;
    z-index: 1; 
    margin-left: 40px;
    margin-right: 40px;
  }

  .menu {
    border-top: 2px solid black; 
    width: 100%;
    height: 50px;
  }

  .menu li {
    width: 49%;
    float: left;
    text-align: center;
    color: rgb(255, 255, 255);
    list-style: none;
    height: 100%;
  }
  .menu li:first-child {
    border-right: 1px solid black;
  }
  .menu li a:visited {
    color: white;
  }
  .menu li a {
    text-decoration: none;
  }
  .menu ul{
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
  }